.menu{
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
color: #fff;
   flex-direction: column;
   justify-content: center;
   @media only screen and (min-width : 600px){
      gap: 2rem;

   }
    
    
}
.category {
   width: 20rem;
   height: 20rem;
   background-color: #000;
   position: relative;
   cursor: pointer;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   @media only screen and (max-width : 900px){
      width: 15rem;
   height: 15rem;
   }

   &__background {
      background-position: center;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: .3s all ease;

      &:hover {

         transform: scale(1.1);
         opacity: .6;
      }
   }

   h2 {
      z-index: 100;
      color: white;
      font-size: $font-med;
      text-transform: uppercase;
      letter-spacing: 4px;
      transition: .3s all ease-out;

   }

   &:hover {
      h2 {
      
         transform: scale(.95);
         
      }
   }
}

.categoryContainer {
   display: flex;
   justify-content: center;
   gap: 2rem;
   flex-wrap: wrap;
}

.menu__tittle {
   text-align: center;
   // padding: 2rem;

   h1 {
      font-size: $font-big;
   }
}

.instructions{
   text-align: center;
  h2{
   text-decoration: underline;
   &:hover{
      cursor: pointer;
   }
  }
}