.menu {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   color: #fff;
   flex-direction: column;
   justify-content: center;

   @media only screen and (min-width : 600px) {
      gap: 2rem;

   }


}

.category {
   width: 20rem;
   height: 20rem;
   background-color: #000;
   position: relative;
   cursor: pointer;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 3px;
   border-radius: 50%;
   background: rgb(2, 0, 36);
   transform: perspective(1000px) rotateX(20deg);
 box-shadow: 2px 2px 20px rgba(70,70, 70, .5);


   &:first-child {
      background: rgba(255, 0, 0, 1);
      background-image: linear-gradient(99deg, rgba(40, 44, 52, 1) -68%, rgba(255, 0, 0, 1) 70%);
   }

   &:nth-child(2) {
      background: rgba(164, 46, 253, 1);
      background-image: linear-gradient(109.6deg, rgba(123, 90, 224, 1) 11.2%, rgba(164, 46, 253, 1) 32.6%, rgba(213, 56, 234, 1) 62.7%, rgba(251, 138, 52, 1) 100.2%);
   }

   &:last-child {
      background: rgba(67, 220, 48, 1);
      background-image: linear-gradient(99deg, rgba(67, 220, 48, 1) 10%, rgba(67, 180, 48, 1) 60%, rgba(40, 44, 52, 1)143.4%);
   }

   @media only screen and (max-width : 900px) {
      width: 15rem;
      height: 15rem;
   }

   @media only screen and (max-width : 600px) {
      width: 15rem;
      height: 7rem;
      border-radius: 5px;
      box-shadow: -10px 0px 20px rgba(0, 0, 0, .3);

   }

   &__background {
      background-position: center;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: .3s all ease-in;

      &:hover {

         transform: scale(1.1);
      }
   }

   h2 {
      z-index: 100;
      color: white;
      font-size: $font-med;
      text-transform: uppercase;
      letter-spacing: 4px;
      transition: .3s all ease-out;
      text-shadow: 1px 1px 1px #000;

   }

   transition: all .2s ease-in;

   &:hover {
      transform: scale(1.02);
      transform: translateZ(-100px);
   }
}

.categoryContainer {
   display: flex;
   justify-content: center;
   gap: 2rem;
   flex-wrap: wrap;
}

.menu__tittle {
   text-align: center;
   // padding: 2rem;

   h1 {
      font-size: $font-big;
   }
}

.instructions {
   text-align: center;

   h2 {
      text-decoration: underline;

      &:hover {
         cursor: pointer;
      }
   }
}