.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   align-content: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
   gap: 1rem;
   flex-wrap: wrap;
   @media only screen and (max-width : 600px){

       gap: .5rem;

   } 
 }