@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


*{
  box-sizing: border-box;
  color: #fff;
  font-family: 'Courgette', cursive;

font-weight: 100;
position: relative;
}
.App {
   text-align: center;
   height: 100vh;
  overflow: hidden;
}

footer{
  position: absolute;
  bottom: 0px;
  left: 0;
  display: flex;
  justify-content: left;
  margin: 1rem;
p,a{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
// background-color: red;
}
 

$font-big:3rem;
$font-med:2rem;
$font-small:1rem;

 

 

 
 

 
 
 
 
