@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
*{
  box-sizing: border-box;
  color: #fff;
  font-family: 'Permanent Marker', cursive;
font-weight: 100;
}
.App {
   text-align: center;
 }
 

$font-big:3rem;
$font-med:2rem;
$font-small:1rem;

 

 

 
 

 
 
 
 
