.header{
   display: flex;
justify-content: space-between;
align-items: center;
padding: 0 2rem;
background-color: #000;
color: #fff;
position: fixed;
width: 100vw;
a{
   text-decoration: none;
   color: #fff;

   font-weight: 500;
   font-size: 1.5rem;
}
}

.showPoints{
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 1rem;
 }