footer {
   position: absolute;
   bottom: 0px;
   left: 0;
   display: flex;
   justify-content: left;
   margin: 1rem;
 
   p,
   a {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
   }
 }