@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


* {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Courgette', cursive;
  font-weight: 100;
  position: relative;
}

$font-big: 3rem;
$font-med: 2rem;
$font-small: 1rem;